{% extends 'teachers/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mt-2 ms-5">
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="bg-light ms-5 p-5 rounded" style="margin-left: 200px;">
                <div class="row">
                
                    <div class="col-6 justify-content-center ">
                        <h4 class="text-center">Request Leave Pemission</h4>
                        <hr>
                    <div class="card p-3 mb-3">
                        <form method="post" >
                            {% csrf_token %}
                        {{form|crispy}}
                            <button class="btn btn-secondary mt-2" type="submit">Submit</button>
                        </form>
                    </div>
                        
                        
                        {% if error %}
                            <p style="color: rgb(0, 255, 255);">{{ error }}</p>
                        {% endif %}
                        
                    </div>
                    
             
                    <div class="col-6">
                        <h4 class="text-center">Pemission Result</h4>
                    <hr>
                        {% for permission in permission_status %}
                    <p class="bg-info p-3 text-light">Dear,{{ permission.user.username }} your Request is {{permission.status}}...</p>
                    {% endfor %}
                    </div>
                </div>
            
                
            </div>
        
        </div>
        
        </div>
    </div>

</div>
{% endblock %}