{% extends 'teachers/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mt-2 ms-5">
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="bg-light ms-5 p-5 rounded" style="margin-left: 200px;">
                <a href="{% url 'export_students_to_excel' 'Form 1' %}" class="btn btn-primary">Export Form 1 to Excel</a>
                <a href="{% url 'export_students_to_excel' 'Form 2' %}" class="btn btn-primary">Export Form 2 to Excel</a>
                <a href="{% url 'export_students_to_excel' 'Form 3' %}" class="btn btn-primary">Export Form 3 to Excel</a>
                <a href="{% url 'export_students_to_excel' 'Form 4' %}" class="btn btn-primary">Export Form 4 to Excel</a>
            
                <div class="col-5 ">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary mt-2" type="submit">Upload Scores</button>
                    </form>
                    
                    {% if error %}
                        <p style="color: rgb(0, 255, 255);">{{ error }}</p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
