{% extends 'academic/index.html '%}
{% load crispy_forms_tags %}
{% block content %}
<main class=" ">
    <div class="bg-light p-3 mt-2 rounded">
    <div class="row  ms-4 justify-content-center">
        <div class="col-4">
        <h3 class="text-center">Add Habbit for {{student.user.username}}</h3>
        <hr>
        
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-control p-4">
                {{form|crispy}}
                <input class="btn btn-success w-100" type="submit" value="submit">

            </div>
        </form>
        </div>
    
        </div>
        </div>
</main>
{% endblock %}
