extends 'academic/index.html '%}
{% load crispy_forms_tags %}
{% block content %}
<main class=" ">
    <div class="bg-light p-3 mt-2 rounded">
      <div class="row  ms-4 justify-content-center">
        <div class="col-4">
          <h3 class="text-center">Assign Office</h3>
          <hr>
          
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-control p-4">
              {{form|crispy}}
              <input class="btn btn-success w-100" type="submit" value="submit">

            </div>
          
          </form>
        </div>
      <div class="col-4">
        <h3 class="text-center">Assigned Office</h3>
        <hr>
        
        <table class="table">
          <tr clss="">
            <td>Name</td>
            <td>Update</td>
            <td>Delete</td>


          </tr>
          {% for query in queries %}
          <tr>
            <td class="ps-5 ">{{query.name}}</td> 
            <td  >
              <a href="{% url 'update_class' query.id %}" class="btn btn-success me-1"><i class="bi bi-arrow-up-circle btn btn-success"></i></a>
            </td>

            <td class=" my-1">
              <a href="{% url 'delete_class' query.id %}" class=" me-1"><i class="bi bi-trash btn btn-danger"></i></a>
              </td>

          </tr>

        {% endfor %}
        </table>
    </div>
    
    </div>
    </div>
</main>
{% endblock %}
