{% extends 'main.html' %}

{% block content %}
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SECONDARY SCHOOL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_subject' %}">ADD SUBJECT </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_class' %}">ADD CLASS</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_student' %}"> REGISTER STUDENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GENERATE REPORT</a>
        </li> 
      </ul>
        <div class="d-flex">

          <a href="{% url 'logout' %}">
            <button class="btn btn-success" type="submit">Logout</button>

          </a>
        </div>

      
      </div>
  </div>
</nav>
{% endblock %}