{% include 'academic_navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}
<main class="container ">
    <div class="bg-light p-5 mt-4 rounded">
      <div class="row  mt-4">
        <div class="col-5">
  
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-control p-4">
              {{form|crispy}}
              <input class="btn btn-success w-100" type="submit" value="submit">

            </div>
          
          </form>
        </div>
      <div class="col-6">
        <table class="table">
          <tr clss="">
            <th class="text-center">Name</th>
          </tr>
          {% for query in queries %}
          <tr>
            <td class="ps-5">{{query.name}}</td> 
          </tr>

          {% endfor %}
        </table>
      </div>
    
      </div>
      </div>
</main>
{% endblock %}
