{% load crispy_forms_tags %}

{% include 'admin_navbar.html' %}
<main class="container">
    <div class="bg-light p-5 rounded">
      <div class="row mt-4">
        
        <div class="col-12">
            <table class="table">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email Address</th>
                <th>Role</th>
              </tr>
              {% for instance in queryset %}
              <tr>
                <td>{{instance.first_name}}</td>
                <td>{{instance.last_name}}</td>
                <td>{{instance.username}}</td>
                <td>{{instance.email}}</td>
                <td>{{instance.role}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
         
          </div>
       
    
      </div>
       </div>
</main>

</body>
</html>
