{% include 'academic_navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
      <div class="row  mt-4">
        <div class="col-4 ">
  
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-control p-5">
              {{form|crispy}}
              <input class="btn btn-success w-100" type="submit" value="submit">

            </div>
           
          </form>
        </div>
       
        <div class="col-8">
          <table class="table">
            <tr>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              
              <th>Sex</th>
              <th>Phone Number</th>
            </tr>
            {% for instance in queryset %}
            <tr>
              <td>{{instance.first_Name}}</td>
              <td>{{instance.middle_Name}}</td>
              <td>{{instance.last_Name}}</td>
              <td>{{instance.sex}}</td>
              <td>{{instance.phone_number}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
       
      </div>
       </div>
</main>
{% endblock %}